body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
}
.note.container {
    position: relative;
    height: 780px;
    margin: 0 auto;
    padding: 0;
    background-image: url(../images/notebook-bg.png);
    background-size: 100%;
    background-position: center;
    font-family: 'Caveat';
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.note.container * {
    font-family: inherit;
}
.note-title {
    width: 50%;
    height: 108px;
    margin: 0 0 0 55px;
    font-size: 35px;
    font-weight: bold;
}
.left-column, .right-column {
    display: inline-block;
    width: 40.5%;
    margin-top: 0;
    vertical-align: top;
    font-size: 18px;
    line-height: 1.25;
}
.left-column {
    margin-left: 55px;
}
.right-column {
    margin-left: 110px;
}
.nazwa {
    width: calc(50% - 55px);
    height: 106px;
    margin: 0 0 0 55px;
    font-size: 35px;
    background: none;
    border: none;
}
.Contents {
    display: block;
    width: calc(100% - 110px);
    height: calc(100% - 150px);
    margin: 0 0 0 55px;
    padding: 0;
    font-size: 18px;
    line-height: 19.85px;
    background: none;
    border: none;
}
input[type=submit], a.btn.btn-default {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.notes-list {
    margin: 0 0 0 55px;
    font-size: 18px;
    line-height: 19.85px;
}
/*Panel logowania*/
.login-note.container, .register-note.container {
    position: relative;
    height: 780px;
    margin: 0 auto;
    padding: 0;
    background-image: url(../images/reg-log-bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Caveat';
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.login-note form {
    position: absolute;
    width: 410px;
    height:auto;
    top: 346px;
    left: 430px;
}
.login-note input[type=text] {
    width: 410px;
    border: none;
    background: none;
}
.register-note .panel {
    height: 350px;
    margin: 180px 0;
}
/*Group*/
.panel {
    padding: 0;
}